{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\register1.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="Register_body">
        
        <fieldset id="Register_body"><br><br>
            
            <center><h1 style="color: white;">Forgot Password</h1></center><br><br>

            <input type="text" id="Name" placeholder="Enter Mail"><br><br>

            <input type="submit" value="Submit" id="submit"><br><br>


            <a href="{% url 'login' %}" id="New_user">Login?</a><br><br>

        </fieldset>
    </div>
</body>
</html>