{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\index.css' %}">
    <style>
        /* Add these styles to your CSS file */
.product-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #357edd; /* Blue background color */
    color: white; /* Text color */
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    margin-left: 65px;
}

.product-link:hover {
    background-color: #245abf; /* Darker blue on hover */
}

.link-text {
    font-size: 16px;
}
body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    </style>
    <title>Sporting good store</title>
</head>
<body>
    <div class="head">
        <div id="main">
            <div id="main1">
                <h1 id="h1">Sporting Good Store</h1>    
            </div>
            <div id="main2">
                {% if user.is_authenticated %}
                    <a href="" style="color: red;">Welcome, {{ user.username }}</a>&emsp;
                    <a href="#main">HOME</a>&emsp;
                    {% if user.profile.is_custom %}
                    {% else %}
                        <a href="{% url 'upload_product' %}">ADD PRODUCT</a>&emsp;
                    {% endif %}
                    <a href="#about">ABOUT</a>&emsp;
                    <a href="#taxi">PRODUCT</a>&emsp;
                    <a href="{% url 'cart' %}">CART</a>&emsp;
                    <a href="{% url 'logout' %}?next=/">Logout</a>&emsp;&emsp;&emsp;
                {% else %}
                    <a href="{% url 'customsignup' %}">Signup</a>&emsp;&emsp;&emsp;
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
            
            
            
            
        </div><br><br><br>
    </div><br><br>
    
    <div id="taxi"><br><br><br>
        <center>
            <h2 id="h2">Top Products</h2>
        </center><br><br>
        <div class="taxi">
            <div id="taxi1">
                {% for i in products %}
                <fieldset id="carset"><br><br>
                        <center><img src="{{i.image.url}}" alt="" height="200px" width="200px" ></center><br><br>
                        <center><p id="parra2" style="text-align: center;">{{i.name}}</p></center><br>
                        <center><p id="parra2" style="text-align: center;"></p>{{i.price}}</center><br>

                        <center><p id="parra2" style="text-align: center;">Stock</p>{{i.product_count}}</center><br>
                        <a href="{% url 'productdetail' i.pk %}" class="product-link">
                            <span class="link-text">Show Product Details</span>
                        </a>
                        




                </fieldset><br><br>
                {% endfor %}
            </div>
        </div>
<br>
        <center><input type="button" value="show more" id="btn_show"></center><br><br>
    </div><br><br>
    
    <div id="brand">
       <center><h2>OUR BRAND</h2></center>
       <marquee behavior="" direction="Rights">
        <img src="{% static 'images\adidas.png'%}" alt="" height="200px" width="200px">
        <img src="{% static 'images\armour.png'%}" alt="" height="200px" width="200px">
        <img src="{% static 'images\asics.png'%}" alt="" height="200px" width="200px">
        <img src="{% static 'images\nike.png'%}" alt="" height="200px" width="200px">
        <img src="{% static 'images\puma.png'%}" alt="" height="200px" width="200px">
        <img src="{% static 'images\lululemon.png'%}" alt="" height="200px" width="200px">
       </marquee>
    </div><br><br>
    <div id="end"><br><br><br><br><br><br>
        <div class="end">
            <div class="end1">
                <h3 id="h1">Sporting Good Store</h3> <br><br>
                <h1 id="end_section" class="ending">Adress</h1><br>
                <p id="end_section">Sporting Good Store, Arpunkara po kottayam,kerala, India</p>
            </div>
            <div class="end2">
                <h1 id="end_section" class="ending">Links</h1><br>
                <ul id="end_section">
                    <a href="taxi booking.html">
                        <li>Home</li>
                    </a>
                    <a href="#about">
                        <li>About</li>
                    </a>
                    <a href="#about">
                        <li>Product</li>
                    </a>
                    <a href="#contact">
                        <li>contact_us</li>
                    </a>
                    <h3>want to sell product</h3>
                    <a href="{% url 'register' %}">Signup</a>&emsp;&emsp;&emsp;
                </ul>
            </div>
            <div class="end3">
                <h1 id="end_section" class="ending">Follow_us</h1><br>
                <a href="facebook.com" target="new">Facebook</a><br>
                <a href="twitter.com" target="new">Twitter</a><br>
                <a href="instagram.com" target="new">instagram</a><br>
                <a href="linkedin.com" target="new">Linked-in</a><br>
                <a href="youtube.com" target="new">Youtube</a>
            </div>
            <!-- <div class="end4">
                <input type="text" placeholder="Mail id" class="end_text" id="endtext"><br><br>
                <input type="button" class="end_button" onclick="subscribe()" value="Suscribe" id="btn1">
                <input type="button" class="end_button" value="Unsuscribe" id="btn2">
            </div> -->
        </div><br><br><br><br>
    </div><br>
    <center>2023 All Rights Reserved SportingGoodStore</center><br>
</body>

</html>